
body {
  padding-left: 20em;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  color: #17324f;
  background-color: #B0E2F2 }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 3em;
  left: 7em;
  width: 10em }
h1 {
font-family:'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace; }
ul.navbar li {
  background: #f6bc73;
  margin: 0.5em 0;
  padding: 0.5em;
  border-right: 1em solid #17324f}
ul.navbar a {
  text-decoration: none }
a:link {
  color: #17324f;
  font-size: 24px;
}
a:visited {
  color: #17324f }
a:hover{
  background-color: #ffecbc;
  text-decoration: none;
  font-size: 26px;
}

input[type=button]{
  background-color: #f6bc73;
  color: #17324f;
  font-family:'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-size: 24px;
  border: none;
  padding: 5px 5px 5px 0px;
}

input[type=button]:hover{
  background-color: #ffecbc;
  text-decoration: none;
  font-size: 26px;
}
address {
    display: block;
    font-style: italic;
    text-align: center;
}
//http://www.color-hex.com/color-palette/16273
