
body {
  padding-left: 18em;
  padding-top: 3em;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #17324f;
  background-color: #77B2EB;
  background-image: url("../graphics/splash.svg");
  background-attachment: fixed}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 3em;
  left: 5em;
  width: 10em }
h1 {
font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
font-size: 38px;}
ul.navbar li {
  background: #f6bc73;
  margin: 0.5em 0;
  padding: 0.5em;
  border-right: 1em solid #17324f;
  border-radius: 10px;}
ul.navbar a {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  text-decoration: none }
a:link {
  color: #17324f;
  font-size: 24px;
}
a:visited {
  color: #17324f }
a:hover{
  background-color: #ffecbc;
  text-decoration: none;
  font-size: 26px;
  padding: 5px;
  border-radius: 10px;
}

input[type=button]{
  background-color: #f6bc73;
  color: #17324f;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 24px;
  border: none;
  padding: 5px 5px 5px 0px;
}

input[type=button]:hover{
  background-color: #ffecbc;
  text-decoration: none;
  font-size: 26px;
  padding: 5px;
  border-radius: 10px;
}
address {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    display: block;
    font-style: italic;
    font-size: 16px;
    text-align: left;
}
//http://www.color-hex.com/color-palette/16273
