
body {
  padding:3em;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #17324f;
  background-color: #77B2EB;
  background-image: url("../graphics/splash.svg");
  background-attachment: fixed
}
ul.navbar {
        float:left;
        display: inline-block;
        margin-right:30px;
  list-style-type: none;
  padding: 0;
}
ul.navbar li {
  background: #f6bc73;
  margin: 0.5em 0;
  padding: 0.5em;
  border-right: 1em solid #17324f;
  border-radius: 10px;
}
ul.navbar a {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  text-decoration: none 
}
a:link {
  color: #17324f;
  font-size: 24px;
}
a:visited {
  color: #17324f 
}
a:hover{
  background-color: #ffecbc;
  text-decoration: none;
  font-size: 24px;
  padding: 5px;
  border-radius: 10px;
}

input[type=button]{
  background-color: #f6bc73;
  color: #17324f;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 24px;
  border: none;
  padding: 0px 0px 0px 0px;
}

input[type=button]:hover{
  background-color: #ffecbc;
  text-decoration: none;
  font-size: 24px;
  padding: 5px;
  border-radius: 10px;
}
.info {
        margin-top:1em;
        background:#f6bc73;
        padding:10px;
        float:right;
}
h1 {
        margin-top:.33em;
font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
font-size: 38px;
}
address {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-style: italic;
    font-size: 16px;
    text-align: left;
}
//http://www.color-hex.com/color-palette/16273
