/*Color 1 #33ccff
color 2 #ffcc00
color 3 #ff3300
color 4 #3366ff
*/


/*Build Choices (left pannel)*/
.buildChoices{
	margin: 0px;
	padding: 0px 20px 0px 20px;
	border: solid 2px #ffcc00;
	border-radius: 5px;

}
.buildChoicesHolder{
	list-style-type: none;
	padding: 0px 15px 0px 10px;
}

.nameAndPointsHolder{
	display: inline-block;
}

.pannelObject{
	border: solid 3px #3366ff;
	border-radius: 5px;
	display: inline-block;
	margin: 10px;
	padding: 5px;
}

.iconAndPoints{
	display: inline-block;
}







.pannelObjectHolder{
	border: solid 3px #33ccff;
	border-radius: 7px;
}

.playerVPoints{
	display: inline;
}

.playerVPointsList{
	list-style-type: none;
	padding: 0px 15px 0px 30px;
}

.resourceBox{

}
.resourceItem{
	display: inline;
}

.resourceItemHolder{
	border: solid 2px #33ccff;
	border-radius: 4px;
	margin: 5px 5px;
	padding: 0px 80px 0px 15px;
}
.resourceItemList{
	list-style-type: none;
	padding: 00px 15px 0px 10px;
}

.timerAndVPoints{
	display: inline-block;
}

.turnButton{
	width: 100%;
	height:35px;
	box-shadow: 0 1px 2px #5e5d5b;
	text-align: center;
}
