html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #77B2EB;
}

h1{
  margin-top: .5em;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #17324f;
}
a:link{
  color:  #17324f;
  background-color: #f6bc73;
  padding: 10px;
  text-decoration: none;
  font-size: 26px;
  border-right: 1em solid #17324f;
  border-radius: 10px;
}
a:visited {
  color: #17324f }
a:hover{
  background-color: #ffecbc;
  text-decoration: none;
  font-size: 26px;
  border-right: 1em solid #17324f;

}

h2{
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 56px;
  text-align: center;
  color: #F64F5C;
  font-weight: bold;
}

audio {
   display:none;
}
