body {
        padding:1em;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #17324f;
  background-color: #77B2EB }

h1 {
font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; }

a:link {
  color: #17324f;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
 }
a:visited {
  color: #17324f
}
a:hover{
  background-color: #ffecbc;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}

ul.navbar {
        display:inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0.66em;
  }
ul.navbar li {
  background: #f6bc73;
  padding: 0.5em;
  border-right: 1em solid #17324f;
  border-radius: 10px;}
ul.navbar a {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
}
ul.navbar a:hover {
  background-color: #ffecbc;
  text-decoration: none;
  font-size: 20px;
}
.info {
        background-color:#f6bc73;
        padding:1.5em;
        margin:0.66em;
}
address {
    display: block;
    font-style: italic;
    text-align: left;
    margin:1em;
}

