body {
  padding-left: 17em;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #17324f;
  background-color: #77B2EB
}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 3em;
  left: 5em;
  width: 10em }
ul.navbar li {
  background: #f6bc73;
  margin: 0.5em 0;
  padding: 0.5em;
  border-right: 1em solid #17324f;
  border-radius: 10px;}
ul.navbar a {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
}
ul.navbar a:hover {
  background-color: #ffecbc;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}
a:link {
  color: #17324f;
  font-size: 20px;
}
a:visited {
  color: #17324f }
a:hover{
  background-color: #ffecbc;
  text-decoration: none;
  font-size: 20px;
}

.part1 {
    border-radius: 5px;
  	border: 2px solid #6495ED;
    width:20%;
    height: 100%;
    float: left;
    background: #f6bc73;
    margin-right: 10px;
    text-align: center;
}
.part2 {
    border-radius: 5px;
    border: 2px solid #6495ED;
    width:20%;
    height: 100%;
    float: left;
    background: #f6bc73;
    margin-right: 10px;
    text-align: center;
}
.part3 {
    border-radius: 5px;
    border: 2px solid #6495ED;
    width:20%;
    height: 100%;
    float: left;
    background: #f6bc73;
    margin-right: 10px;
    text-align: center;
}
.part4 {
    border-radius: 5px;
    border: 2px solid #6495ED;
    width:20%;
    height: 100%;
    float: left;
    background: #f6bc73;
    text-align: center;
}

.content{
    width: 100%;
    position: relative;
}
address {
    display: block;
    font-style: italic;
    text-align: center;
}
