/*Bottom Right Display*/

.bottomRightDisplay{
	border: solid black 1px;
	border-radius: 8px 0 0 0;
	position: absolute;
	left: 687px; /*the board is 1000 and the button is ~300*/
	top: 454px;
}

.endTurnButton{
	background: #FFF0BD;
	color: #696558;
	width: 320px;
	height: 75px;
	font-size: 50px;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
}

.endTurnButton:hover:enabled{
	background: #ffdb66;
	box-shadow: 1px 1px 5px #888888;
}

.timer{
	display: inline-block;
	margin: 0px;
	margin: 0 0 0 4px;
	color: #696558;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.timerDiv{
	background-color: #FFFFFF;
	border-radius: 8px 0px 0px 0px;
	width: 320px;
}

.rollHolder{
	display: inline-block;
	border-right: solid black 1px;
	float: left;
	padding: 0 0px 0 4px;
	width: 154px;
}

.rollTittle{
	display: inline;
}

.rollValue{
	display: inline;
	margin: 0 0px 0 0px;
}


/*Bottom Left Display*/
[panel=Up]{
	transform:translate(0px,0px);
}

[panel=Down]{
	transform:translate(0px,-165.5px);
}

.bottomLeftDisplay{
	height: 50px;
	width: 380px;
	position: absolute;
	top: 520px;
	left:8px;
	transition: transform .9s;
}

.slideHider{
	position: absolute;
	top:568px;
	background-color: white;
	height: 180px;
	width: 390px;
	z-index: 10;

}
/*Resource Bar*/
.resourceBar{
	transition: transform .9s ease-in;
}

.resourceList{
	margin: 0px;
	padding: 0px;
}

.resourcePicAndNumHolder{
	display: inline-block;
	margin: 0 0 0 11px;
}

.resourceValue{
	cursor:default;
	display: inline;
	font-size: 24px;
}

.resources{
	background-color: #FFF0BD;
	border: solid black 1px;
	border-radius: 0 8px 0 0;
}
/*Build Card*/
.buildCard{
	background: #FFF;
}

.buildCardTitle{
	border-right: solid black 1px;
	border-left: solid black 1px;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
	font-size: 30px;
	margin: 0;
	text-align: center;
}

.buildChoice{
	border-bottom: black dashed 1px;
}

.buildChoice:hover{
	background: #e6e6e6;
	box-shadow: 1px 1px 5px #888888;
}

.buildChoices{
	border: solid black 1px;
	margin: 0px;
	padding: 0;
}

.choiceTitle{
	margin: 0;
}

.choiceInfo{
	display: inline-block;
}

.choiceReqs{
	display: inline-block;
	float: right;
	width: 200px;
}

/*Player Personal Tabs*/
.playerDiv{
	display:inline-block;
	width: 152.8px;
}

.playerName{
	text-align: center;
	border: 1px solid black;
	border-radius: 0 0 4px 4px;
	margin: 0px;
	width: 152.8px;
}

.playerNameTag{
	position: absolute;
	left: 0px;
	top: 0px;
}

.playerInfo{
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	width: 152.8px;
}

.playerTabs{
	position: absolute;
	top: 66px;
	left: 194.95px;
	width: 624.514px;
}

.playerPoints{
	display: inline;
	font-size: 25px;
}

.playerPointsText{
	display: inline;
}

.playerStructure{
	border-right: 1px solid black;
	display: inline;
	padding: 4px;
	width: 100%;
}

.playerStructuresInfo{
	border-top: 1px solid black;
}

.playerStructurePic{
	display: inline;
	height: 20px;
}

.playerStructureQuantity{
	display: inline;
	font-size: 25px;
}

.playerInfoVPoints{
	text-align: center;
}

#player1Name{
	background-color: #5599ff
}

#player2Name{
	background-color: #ffffff
}

#player3Name{
	background-color: #ff0000
}

#player4Name{
	background-color: #ff7f2a
}

h1 {
font-family:'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace; }

canvas { border: 1px solid black; width: 1000px; height:500px}

#board { background-color: #B0E2F2; }
